@using ECommerceSample.Areas.Admin.Models.ViewModel
@model MemberViewModel

@{
    ViewBag.Title = "EditMember";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>EditMember</h2>


@using (Html.BeginForm("EditMember", "Member", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=>Model.members.UserID)
    @Html.HiddenFor(m=>Model.members.Photo)
    <div class="form-horizontal">
        <h4>Member</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.members.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.members.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.members.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.members.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.members.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.members.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.members.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.members.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.members.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.members.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.members.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.members.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.members.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.members.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.members.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.roles, "Role Name:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => Model.members.RoleID, Model.roles, "Choose Role", new { @class = "list-group-item col-md-4" })
                @Html.ValidationMessageFor(m => m.roles, "", new { @class="text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.members.Photo, "Photo:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Upload/Member/@Model.members.Photo" class="img-circle" width="75" height="75" id="photo" onchange="show(this)" />
                <input type="file" name="photoPath" id="photoPath" />
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.members.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.members.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.members.Address, "", new { @class = "text-danger" })
            </div>
        </div>*@

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
