@model ECommerce.Entity.Member

@{
    ViewBag.Title = "MyInfo";
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_AccountLayout.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    }
}

@using (Html.BeginForm("MyInfo","Account",FormMethod.Post,new { enctype= "multipart/form-data" }))
{
    @Html.HiddenFor(m=>m.RoleID)
    @Html.HiddenFor(m=>m.UserID)
    @Html.HiddenFor(m=>m.Photo)
<div class="form-horizontal" style="margin-top:25px;margin-bottom:100px">
    <img src="~/Upload/Member/@Model.Photo" width="75" height="75" class="img-circle col-md-offset-6" style="margin-bottom:25px" />
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, "Adı :", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, "Soyadı :", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone, "Telefon :", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, "Email :", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Şifre :", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <input type="file" name="photoPath" id="photoPath" class="form-control  col-md-offset-2" style="margin-bottom:20px" />
    <input type="submit" value="Bilgilerimi Kaydet" class="btn btn-primary col-md-10 col-md-offset-2" />
</div>
}


