@model ECommerce.Entity.Product

@{
    /**/

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="center_content">
    <div class="center_title_bar">@Model.ProductName</div>
    <div class="prod_box_big">
        <div class="top_prod_box_big"></div>
        <div class="center_prod_box_big">

            <div class="product_img_big">
                @foreach (var item in Model.Photos)
                {
                    if (item.IsChecked == true)
                    {
                        <a href="javascript:popImage('~/Upload/@item.PhotoName','Some Title')" title="header=[Zoom] body=[&nbsp;] fade=[on]">
                            <img src="~/Upload/@item.PhotoName" width="110" height="110" alt="" border="0" />
                        </a>
                    }

                }
                <div class="thumbs">
                    @foreach (var item in Model.Photos)
                    {
                        <a href="#" title="header=[Thumb1] body=[&nbsp;] fade=[on]"><img src="~/Upload/@item.PhotoName" alt="" border="0" width="35" height="35"/></a>

                    }
                </div>

            </div>
            <div class="details_big_box">
                <div class="product_title_big">@Model.ProductName</div>
                <div class="specifications">
                    Stock: <span class="blue">@Model.Stock</span><br />
                    Garantie: <span class="blue">24 Month</span><br />
                    Category: <span class="blue">@Model.Category.CategoryName</span><br />
                    Brand: <span class="blue">@Model.Brand.BrandName</span><br />
                </div>
                <div class="prod_price_big"<span class="price">@String.Format("{0:0,0.00}",Model.Price) ₺</span></div>
                <a href="~/Order/Add" class="addtocart">add to cart</a>
            </div>
        </div>
        <div class="bottom_prod_box_big"></div>
    </div>

</div>

