@using ECommerce.Entity
@model IEnumerable<Address>

@{
    ViewBag.Title = "Pay";
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    }
}

<h2 class="text-center" style="font-style:italic">Pay</h2>
<hr />

@using (Html.BeginForm("Pay","Payment",FormMethod.Post))
{
    <table class="table table-bordered">
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    <input style="visibility:" type="radio" name="addID" id="addID" value="@item.AddressId" />
                </td>
                <td>
                    <h5 class="text-center" style="font-weight:bold;font-size:18px;font-style:oblique">@item.RegName</h5>
                    <h6 class="text-center" style="font-size:16px;font-style:italic">@item.Address1 @item.District/@item.City.ToUpper() Türkiye @item.PostCode</h6>
                </td>
                <td class="text-center">
                    <a href="~/Account/EditAddress/@item.AddressId" style="font-size:14px;font-style:italic" class="text-center">Adresi Düzenle</a>
                </td>
            </tr>
                
            
        }
    </table>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Payment Type :", new { @class="control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("PaymentTypes",ViewBag.Skills as SelectList,new { @class="form-control"})
            </div>
        </div>

        <input type="submit"  value="Pay" class="btn btn-success col-md-10 col-md-offset-2" style="margin-bottom:40px" />
    </div>

}
