@using ECommerce.Entity
@model IEnumerable<Product>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="text-center" style="margin-bottom:25px;">
    <h2>Product List</h2>
</div>

<table class="table table-hover">
    <tr class="active">
        <th>ProductName;</th>
        <th>Brand Name:</th>
        <th>Category Name:</th>
        <th>Price:</th>
        <th>Stock:</th>
        <th>Photo:</th>
        <th>Edit & Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Brand.BrandName</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>@item.Photos.ToString()</td>
            <td>
                <a href="#" class="btn btn-success">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>


