@using ECommerce.Entity
@model IEnumerable<ECommerce.Entity.Product>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="text-center" style="margin-bottom:25px;">
    <h2>Product List</h2>
</div>

<table class="table table-hover">
    <tr class="active">
        <th>ProductName;</th>
        <th>Brand Name:</th>
        <th>Category Name:</th>
        <th>Price:</th>
        <th>Stock:</th>
        <th style="min-width:120px;">Photo:</th>
        <th>Edit & Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Brand.BrandName</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td>
                @foreach (var photo in item.Photos.ToList())
                {
                    <img src="~/Upload/@photo.PhotoName" width="75" height="75" />
                }
            </td>
            <td>
                <a href="~/Admin/Product/EditProduct/@item.ProductID" class="btn btn-success">Edit</a>
                <a href="~/Admin/Producy/Delete/@item.ProductID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>



